<h2>musica!</h2>

<button (click)="startMusica()">Play</button>
<button (click)="stopMusica()">Stop</button>

<div class="container">

    <form>
 
        <label for="beat">Beat</label>
        <input #beat type="range" id="beat" name="beat" min="0" max="100" (input)="setVolume(beat.value, 'beat')">

        <label for="half">Half beat</label>
        <input #half type="range" id="half" name="half" min="0" max="100" (input)="setVolume(half.value, 'half')">

        <label for="off">Off beat</label>
        <input #off type="range" id="off" name="off" min="0" max="100" (input)="setVolume(off.value, 'off')">
    
    </form>

</div>